body{
  background-color: rgb(65, 27, 24);

}

.game {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
  perspective: 500px;

}

.title {
  display: flex;
  justify-content: center;
  margin-top: 0em;
  background-color: transparent;
  color: #ffffff;
  font-size: 4em;
}

.card {
  position: relative;
  width: 150px;
  height: 230px;
  margin-top: 2em;
  perspective: 600px;
  cursor: pointer;
  border-radius: 8px;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.3s;
  display: block;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
  z-index: 1;
  display: none;
 background-color: #FFF;
 border-radius: 8px;
 width: 80%;
 height: 80%;

}

.flip .front {
  transform: rotateY(180deg);
  display: none;
}

.flip .back {
  transform: rotateY(0deg);
  display: block;
}

.front img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 8px;
}

.back img{

  margin-top: 2em ;
  margin-left: 0.4em;
  width: 90%;
  height: 70%;
}

button{
  width: 6em;
  height: 3em;
  margin-left: 90%;
  margin-top: 2em;
  border: #FFF;
  color: black;
  background-color: #FFF;
  cursor: pointer;
}

button:hover{
  border: rgb(45, 98, 155);
  color: rgb(255, 255, 255);
  background-color: rgb(45, 98, 155);
}